.dashboardContainerComponent {
  .itemMainContainer {
    .itemContainer {
      border-radius: 5px !important;
      border-top: 5px solid #1b346e;
      border-top-width: thick;
      cursor: pointer;
    }
    .itemHeading {
      font-size: 14px;
      color: #282a2c;
      opacity: 1;
      min-height: 60px;
      word-break: break-word;
    }
    .itemSubHeading {
      color: #1b346e;
      opacity: 1;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
