.plusImage {
  position: absolute;
  bottom: 0;
  left: 0;
}
.profilePage {
  background-color: #e5eaef58;
  .profilePageContainer {
    padding: 40px;
    margin: auto;
  }
}

.profileContainer {
  margin-top: 10px;
  width: 20%;
  background-color: #ffffff;
  border-radius: 8px;
  min-height: 550px;
  .profileImgBackground {
    background: linear-gradient(to bottom, #e9ecf3 0%, #e9ecf3 50%, #ffffff 20%, #ffffff 100%);
  }
}
.tabDetailsContainer {
  width: 78%;
  // background-color: #ffffff;
  border-radius: 8px;
}
