.generic-table-container {
  .style-bold {
    font-weight: 700;
    font-size: 15px;
  }
  .MuiTableContainer-root {
    background-color: unset;
    box-shadow: none;
  }
  .MuiTableCell-head {
    background-color: #1b346e;
    color: #ffffff;
    opacity: 1;
    // font-size: 11px;
    // padding: 7px;
    font-weight: normal;
  }
  .MuiTableRow-head {
    border-radius: 8px;
  }
  .MuiTableRow-root {
    border-radius: 10px;
  }
  tr:nth-child(odd) {
    background-color: #e9ecf3;
  }
  .btn {
    border: 1px solid #264488;
    background-color: #264488;
    color: #ffffff;
    text-transform: none;
    font-size: 9px;
  }
  .MuiTableCell-root {
    padding: 10px;
    font-size: 13px;
  }
  .MuiTable-root {
    border-collapse: separate;
    border-spacing: 0px 5px;
  }
  .MuiPaper-root {
    border-radius: 8px;
  }
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: #fff;
  }
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover,
  .css-dx096b:hover {
    color: #fff;
    font-weight: 700;
  }
  .css-dx096b.Mui-active {
    color: #fff;
  }
  .css-tqymag path {
    color: #fff;
  }
  .css-dx096b.Mui-active .MuiTableSortLabel-icon {
    opacity: 1;
    fill: #fff;
  }
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover .MuiTableSortLabel-icon {
    fill: #fff;
  }
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon path {
    color: #fff;
  }
}
