.topBarWrapper {
  min-height: 40px;
  display: flex;
  align-items: center;
}

.topBarIcon {
  padding: 0;
  min-width: auto;
  margin-left: 16px;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  @media screen and (max-width: 991px) {
    margin-left: 8px;
  }
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.select {
  position: relative;
}

.languageIcon {
  padding: 0;
}

.topBarLanguageMenu {
  max-width: 160px;
}

// FONT ZOOM CSS
.fontZoomSmall,
.fontZoomMedium,
.fontZoomLarge {
  padding: 0;
}
