@use '../../../assets/styles/variables' as v;

.footerWrapper {
  background-color: map-get(v.$palette, 'primary');
  color: map-get(v.$palette, 'white');
  padding: 48px 0 24px;
  // margin-top: 30px;
}

.footerTitle {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 31px;
    height: 2px;
    background-color: map-get(v.$palette, 'white');
    word-break: break-all;
  }
}
