.mobileField {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  .countryCode {
    width: 100%;
    max-width: 60px;
    text-align-last: center;
    height: 3.5em;
    max-height: 4em;
  }
}
